version: '3.8'

services:
  backend:
    build: .
    container_name: orb_backend
    # No 'depends_on' mongo because it's external
    depends_on:
      - redis
    env_file:
      - .env
    # We don't override MONGO URIs here anymore; 
    # the ones in your .env will be used directly.
    environment:
      - REDIS_URL=redis://redis:6379
    restart: always

  redis:
    image: redis:alpine
    container_name: orb_redis
    volumes:
      - redis_data:/data
    restart: always

  caddy:
    image: caddy:latest
    container_name: orb_caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
    restart: always

volumes:
  redis_data:
  caddy_data:
  caddy_config:
